@mixin border() {
  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;
}

.border {
  @include border();
}

@each $side, $key in $sides {
  .border-#{$key} {
    border-#{$side}-width: $border-width;
    border-#{$side}-style: $border-style;
    border-#{$side}-color: $border-color;
  }
}
