button {
  appearance: none;
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  padding: 0 $spacing-md;
  background: $color-surface;
  border-width: $border-width;
  border-color: $border-color;
  border-style: $border-style;
  text-transform: uppercase;
  cursor: pointer;
  height: 50px;
  font-size: 0.75rem;
  transition: all 0.3s;

  &:hover {
    background-color: $color-foreground;
    color: $color-surface;
  }
}
