@mixin input() {
  appearance: none;
  box-sizing: border-box;
  height: 50px;
  font-family: inherit;
  padding: 0 $spacing-md;
  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;
}

input:not([type='checkbox']) {
  @include input();
}
