.stage {
  position: relative;
  display: block;
  box-sizing: border-box;
}

canvas {
  touch-action: none;
}

#editor-canvas {
  cursor: crosshair;
  outline: 1px dashed black;
}

#ui-highlight-canvas {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}
