@import '../../theme/variables';

:host {
  display: block;
  flex: 1 0 100%;
  width: 100%;
  max-width: 360px;
  margin: $spacing-md;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-lg;
  background: $color-surface;
  box-shadow: $box-shadow;

  > * + * {
    margin-top: $spacing-lg;
  }

  .gallery-item-preview {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    > canvas {
      display: block;
    }
  }

  .gallery-item-actions {
    & > * {
      margin-bottom: $spacing-xs;

      & + * {
        margin-left: $spacing-xs;
      }
    }
  }

  .gallery-item-name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.palette {
  display: flex;
  flex-direction: row;
  .color {
    margin: 0.125rem;
    height: 32px;
    width: 32px;
  }
}
