@import "../theme/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor-middle {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar {
  border-width: $border-width;
  border-color: $border-color;
  border-style: $border-style;
  background-color: $color-surface;
  padding: $spacing-sm;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: row;
  align-items: center;

  .toolbar-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  > .toolbar-group + .toolbar-group,
  > .toolbar-group * + * {
    margin-left: $spacing-sm;
  }
}

.editor-bottom .toolbar {
  height: 80px;
}

.palette {
  padding: $spacing-sm;
  max-width: 100%;
  // overflow: auto;
}

.palette .color {
  position: relative;
  box-sizing: border-box;
  border-width: $border-width;
  border-color: $border-color;
  border-style: $border-style;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  transition: all 0.3s;

  & + .color {
    margin-left: $spacing-sm;
  }

  & .remove-color {
    cursor: pointer;
    box-sizing: border-box;
    background: $color-surface;
    border-width: $border-width;
    border-color: $border-color;
    border-style: $border-style;
    z-index: 10;
    padding: 6px 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: calc(100% + 6px);
  }

  &.active {
    box-shadow: $box-shadow;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    width: 60px;
  }
}
